@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body{
	margin: 0;
	font-family: "Sora", sans-serif;
}

h1{
	display: inline-block;
	/* font-family: sans-serif; */
	font-weight: bold;
	font-size: 50px;
	/*background-color: lightgray;*/
	margin-right: 25%;
	margin-left: 1%;
}

a{
	display: inline-block;
}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}


.subTitle{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 35px;
	margin-left: 40px;
	color : #A49338;
}

.center{
	display: block;
	margin-left: 100px;
	margin-top: 30px;
	width: 100px;
	height: 20px;
}

label{
	/* font-family: sans-serif; */
	font-size: 18px;
	color: black;
}

input[type=text] {
  width: 300px;
  height: 30px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 300px;
  height: 30px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=radio] {
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 8px 5px;
  box-sizing: border-box;
}

textarea{
  width: 300px;
  height: 80px;
  padding: 10px;
  margin: 8px 5px;
  box-sizing: border-box;
}

table{
	margin-left: auto;
	margin-right: auto;
}

.columnTitle{
	/* font-family: sans-serif; */
	color: black;
	font-size: 40px;
	text-align: center;
}


.formBox{
	width: 390px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 36.8%;
	height: 420px;
	padding: 5px;
	border-radius: 5%;
	box-shadow: 0px 0px 30px 5px rgb(199, 199, 199);
}

ul{
	list-style: none;
}

@media screen and (max-width: 800px) {
	.columnTitle{
		margin: auto;
	}

	.formBox{
		margin: auto;
		margin-top: 20px;
	}
}